head {

}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(243, 240, 235);
    color: #034216;
}
.intro {
    font-size: 220%;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
}

.the_top {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(4, 99, 75);
}

ul {
    list-style-type: circle;
    font-size: larger;
    font-weight: 350;
}
.firstImage, .secondImage, .thirdImage {
    width: 45%;
    height: auto;
    
}
.intro {
    text-align: center;
}
#pictures {
    /* padding: 10%; 
    align-items: center;  WORK OUT HOW TO MAKE IT IN THE CENTER  
    display: block;
    margin-left: auto;
    margin-right: auto; */

}

hr {
    height: 5px;
    background-color: black;
}
.firstImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.secondImage {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.thirdImage {

    display: block;
    margin-left: auto;
    margin-right: auto;
}
figcaption {
text-align: center;
}